
<div class="container main">
    <div class="row">
        <div class="col-sm-4 text-center">
        <h2 class="text-center">Line Graph</h2>
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="lineChartType"
                [options]="pieChartOptions"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div>
        <div class="col-sm-4 text-center">
            <h2 class="text-center">Pie Graph</h2>
            <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div>
        <div class="col-sm-4 text-center">
            <h2 class="text-center">Bar Graph</h2>
            <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="barChartType"
                [options]="pieChartOptions"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div><br><br><br><br>
    <div class="row">
        <div class="col-sm-4 text-center">
        <h2 class="text-center">Doughnut Graph</h2>
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="doughnutChartType"
                [options]="pieChartOptions"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div>
        <div class="col-sm-4 text-center">
            <h2 class="text-center">Radar Graph</h2>
            <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="radarChartType"
                [options]="pieChartOptions"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div>
        <div class="col-sm-4 text-center">
            <h2 class="text-center">Polar Ghaph</h2>
            <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="polarAreaChartType"
                [options]="pieChartOptions"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
      
  </div>

